<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>人員帳號列表 <small></small></h2>
        <div class="clearfix"></div>
      </div>
      <div
        class="row col-md-12 form-inline form-group"
        style="padding-top:10px;"
      >
        <div class="col-md-3">
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="open()">
            新增
          </button>
        </div>
        <div class="col-md-9 form-inline">
          <div class="form-inline mr-sm-2">
            <label for="">帳號: </label>
            <input
              type="text"
              class="form-control"
              style="width:100px;"
              [(ngModel)]="queryMember.account"
            />
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">姓名: </label>
            <input
              type="text"
              class="form-control"
              style="width:80px;"
              [(ngModel)]="queryMember.name"
            />
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">卡號: </label>
            <input
              type="text"
              class="form-control"
              style="width:80px;"
              [(ngModel)]="queryMember.cardNo"
            />
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">Email: </label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="queryMember.cardNo"
            />
          </div>
          <button class="btn btn-primary" (click)="reloadData()">查詢</button>
        </div>
      </div>
      <div *ngIf="memberList$ | async as pager; else loading">
        <!-- 有資料顯示表格，無資料顯示noDataDiv -->
        <ng-container *ngIf="pager.resultList.length > 0; else noDataDiv">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>帳號</th>
                <th>姓名</th>
                <th>卡號</th>
                <th>Email</th>
                <th>狀態</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of pager.resultList">
                <!--點選帳號後將畫面導向編輯畫面-->
                <td>
                  <a class="edit" [routerLink]="['./edit', member.uuid]">{{
                    member.account
                  }}</a>
                </td>
                <td>{{ member.name }}</td>
                <td>{{ member.cardNo }}</td>
                <td>{{ member.email }}</td>
                <!--請調整為 Y: 啟用; N:停用 文字-->
                <td [ngSwitch]="member.status">
                  <div *ngSwitchCase="'Y'">啟用</div>
                  <div *ngSwitchCase="'N'">停用</div>
                  <div *ngSwitchCase="'D'">註銷</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row form-inline">
            <div class="col-md-2 form-inline">
              <label for="">筆數</label>
              <select
                [(ngModel)]="queryPager.pageSize"
                (ngModelChange)="onChange($event)"
              >
                <option *ngFor="let page of pageSizes" [ngValue]="page">
                  {{ page }}</option
                >
              </select>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
              <ngb-pagination
                [(page)]="pager.currentPage"
                [pageSize]="pager.pageSize"
                [collectionSize]="pager.totalCount"
                [maxSize]="5"
                (pageChange)="pageChange($event)"
              >
              </ngb-pagination>
            </div>
            <div class="col-md-2">
              <p>總筆數：{{ queryPager.totalCount }}</p>
            </div>
          </div>
        </ng-container>
        <ng-template #noDataDiv>
          <p>查無資料</p>
        </ng-template>
      </div>
    </div>
    <ng-template #loading>
      <div class="loading text-center">
        <i class="fas fa-spinner fa-pulse"></i>
      </div>
    </ng-template>
  </div>
</div>
<!-- 此部分改為動態生成元件 -->
<!-- <ng-template let-modal #content>
  <app-insert-member></app-insert-member>
</ng-template> -->
