<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>人員帳號列表 <small></small></h2>
        <div class="clearfix"></div>
      </div>
      <div
        class="row col-md-12 form-inline form-group"
        style="padding-top:10px;"
      >
        <div class="col-md-3">
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="open()">
            新增
          </button>
        </div>
        <div class="col-md-9 form-inline">
          <div class="form-inline mr-sm-2">
            <label for="">帳號: </label>
            <input
              type="text"
              class="form-control"
              style="width:100px;"
              [(ngModel)]="queryMember.account"
              (keyup.enter)="reloadData()"
            />
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">姓名: </label>
            <input
              type="text"
              class="form-control"
              style="width:80px;"
              [(ngModel)]="queryMember.name"
              (keyup.enter)="reloadData()"
            />
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">卡號: </label>
            <input
              type="text"
              class="form-control"
              style="width:80px;"
              [(ngModel)]="queryMember.cardNo"
              (keyup.enter)="reloadData()"
            />
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">Email: </label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="queryMember.cardNo"
              (keyup.enter)="reloadData()"
            />
          </div>
          <button class="btn btn-primary" (click)="reloadData()">查詢</button>
        </div>
      </div>
      <div *ngIf="memberList$ | async as pager; else loading">
        <!-- 有資料顯示表格，無資料顯示noDataDiv -->
        <ng-container *ngIf="pager.resultList.length > 0; else noDataDiv">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>帳號</th>
                <th>姓名</th>
                <th>卡號</th>
                <th>Email</th>
                <th>狀態</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of pager.resultList">
                <!--點選帳號後將畫面導向編輯畫面-->
                <td>
                  <a class="edit" [routerLink]="['./edit', member.uuid]">{{
                    member.account
                  }}</a>
                </td>
                <td>{{ member.name }}</td>
                <td>{{ member.cardNo }}</td>
                <td>{{ member.email }}</td>
                <!--請調整為 Y: 啟用; N:停用 文字-->
                <td>
                  <div>{{ member.status | memberStatus }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #noDataDiv>
          <p>查無資料</p>
        </ng-template>
      </div>
    </div>
    <app-pagination
      [queryPager]="queryPager"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
    <ng-template #loading>
      <div class="loading text-center">
        <i class="fas fa-spinner fa-pulse"></i>
      </div>
    </ng-template>
  </div>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="open2(content)">Launch demo modal</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" >Save</button>
  </div>
</ng-template>
