<div class="container">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>人員帳號列表 <small></small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="row col-md-12 form-inline form-group" style="padding-top:10px;">
        <div class="col-md-4">
          <button class="btn btn-primary">新增</button>
        </div>
        <div class="col-md-8 form-inline">
          <div class="form-inline mr-sm-2">
            <label for="">帳號: </label>
            <input type="text" class="form-control" style="width:100px;" [(ngModel)]="queryMember.account">
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">姓名: </label>
            <input type="text" class="form-control" style="width:80px;">
          </div>
          <div class="form-inline mr-sm-2">
            <label for="">Email: </label>
            <input type="text" class="form-control">
          </div>
          <button class="btn btn-primary" (click)="reloadData()">查詢</button>
        </div>
      </div>
      <div *ngIf="memberList$ | async; let pager">
        <ng-container *ngIf="pager.resultList.length>0; else noDataDiv">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>姓名</th>
                <th>帳號</th>
                <th>卡號</th>
                <th>Email</th>
                <th>狀態</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of pager.resultList">
                <!--點選帳號後將畫面導向編輯畫面-->
                <td><a>{{member.name}}</a></td>
                <td>{{member.account}}</td>
                <td>{{member.cardNo}}</td>
                <td>{{member.email}}</td>
                <!--請調整為 Y: 啟用; N:停用 文字-->
                <td>{{member.status}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row form-inline">
            <div class="col-md-2 form-inline">
              <label for="">筆數</label>
              <select name="" id="">
                <option value="10">10</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
              <ngb-pagination [(page)]="pager.currentPage" [pageSize]="pager.pageSize"
                [collectionSize]="pager.totalCount" [maxSize]="5">
              </ngb-pagination>
            </div>
            <div class="col-md-2">
              <p>總筆數：{{queryPager.totalCount}}</p>
            </div>
          </div>
        </ng-container>
        <ng-template #noDataDiv>
          <p>查無資料</p>
        </ng-template>
      </div>

    </div>
  </div>
</div>
